.phone {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.phone div {
  flex: 1;
}

p {
  margin: 30px;
}

h4 {
  margin: 30px;
}

.button-delete {
  margin: 30px;
}
/* 

.Track-action {
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.05rem;
  transition: color 0.25s;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

.Track-action:hover {
  color: rgba(265, 265, 265, 0.5);
}

.Track-information {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 72px;
}

.Track-information h3 {
  margin-bottom: 0.22rem;
}

.Track-information p {
  font-size: 0.83rem;
  font-weight: 300;
  color: rgba(256, 256, 256, 0.8);
} */
