.phone {
  width: 750px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.3);
}

.phone div {
  flex: 1;
}

p {
  margin: 30px;
}

h4 {
  margin: 30px;
}

.button-delete {
  margin: 30px;
}

.button-delete:hover {
  background-color: #495057;
  color: #fff;
}
